body {
	padding-bottom: 20px;
  	background-image: url(back.png);
  	background-repeat: no-repeat;
  	background-position: fixed;
  	background-size: cover;
  	background-attachment: fixed;
  	color: white;
	text-align: center;
}

.navbar {
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}
.login-wrapper {
  height: 70vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}