body {

	background-image: url("pictures/hatter.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
img {
	height: 400px;
	width: 275px;
	background-color: black;
}