body {

	background-image: url("pictures/hatter2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
img {
	height: 400px;
	width: 275px;
	background-color: black;
}
.cover > button{
	margin-left: 12.5px;
	margin-right: 12.5px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	transition: 3000ms;
		
}
content > form >table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}
.menu > button {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight:300;
	background-color:rgba(0,0,0,0);
	text-align:center;
	transition: all 0.2s;
	font-size: 25px;
	
}
.menu > button:hover {
	color:rgba(0,0,0,0);
	background-color:rgba(255,255,255,0.2);
}
a{
	color:white;
	text-decoration: none !important;
}
.cover:hover{
	transition: transform .5s ease;
	transform: scale(1.25);
    position:relative;
}
.home > button{	
	font-size: 150px; 
	color: white;
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	background-color:rgba(0,0,0,0);
	margin-top:40px;
	font-family: "Brush Script MT", cursive; 
	outline: black; 
	background: transparent;
    border: none;
	margin: 0;
	position: relative;
	top: 80px;
	left: 120%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.home:hover{
	transition: transform .5s ease;
	transform: scale(1.1);
}
footer{
	margin-top: 200px;
    width: 100%;
	color:white;
	
}
p{
	font-size: 25px; 
	color:white;
	font-family: "Candara Light"; 
}